

main {
  background:  hsl(0, 0%, 98%); 
  padding: 3rem 3rem;
}

.search {
  display: flex; 
  justify-content: space-between;
}
.countriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top:3rem;
  justify-content: space-between;
}