
.heading {
  display: flex;
  padding: 1.5rem 3rem;
  justify-content: space-between;
  border: transparent; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btnSwitchTheme {
    border: none; 
    background: inherit;
    color: inherit;
}



@media only screen and (min-width: 330px) and (max-width: 700px)  {
  .heading {
    padding: 2em 1em;
  }
  .heading h1, .heading .btnSwitchTheme{
     font-size: .7rem;
  }
  
}